body{
    background: url(../imgs/fondo.png);
    background-size: auto;
}
.headboard{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(7, 7, 7, 0.445);
}
h1{
    text-align: center;
    color: rgb(108, 130, 226);
}
.images{
    width: 100px;
}
.products{
    text-align: center;
}